.form__item {
  min-width: 350px;
  min-height: 40px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.form__item:focus {
  outline: 1px solid #2f80ed;
}

.form__item_el_main-text {
  min-width: 100%;
  min-height: 200px;
  margin: 0 auto;
}

.form__item_el_fio {
  margin-right: 50px;
}
