.video__iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  width: 515px;
  height: 316px;
  margin: 50px 20px 0 0;
  border: none;
}

.video__iframe:nth-child(2n) {
  margin: 0;
}
